@charset "utf-8";

/*----------------------------------------GENERAL----------------------------------------*/

body {
  padding-top: 15vw;
}
h1 {
  font-size: 8vw;
  margin-bottom: 2vw;
}
h3 {
  font-size: 5vw;
}
p {
  font-size: 4.3vw;
}
span {
  font-size: 3.5vw;
}

/*----------------------------------------SITO----------------------------------------*/

.sezione {
  width: 100vw;
  height: auto;
  display: block;
  padding: 0;
}
.padding {
  padding: 12vw 5vw;
}
.margin {
  display: block;
  margin-bottom: 5vw;
}
.margin2 {
  margin-bottom: 10vw;
}
.home-header {
  width: 100%;
  height: 165vw;
}
.home-verde {
  padding: 0;
  width: 100%;
  height: 100vw;
}
.home-header > a {
  position: absolute;
  bottom: 7vw;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  border: solid .35vw #000;
  padding: 1.5vw 2.5vw;
  font-size: 3.6vw;
  margin-right: 1vw;
}
.select {
  z-index: 2;
  position: absolute;
  top: 53px;
  right: 84px;
}
.select span {
  color: #92bb9c;
  background-color: #000;
  border: solid 1.25px #000;
  display: block;
  padding: 8.6px;
  width: 200px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
.select-content {
  display: none;
}
.select-content span:hover {
  background-color: #92bb9c;
  color: #000;
}

/*----------------------------------------QUADRATI----------------------------------------*/

.quadrati > a {
  margin-right: 3.2vw;
  display: inline-block;
  margin-bottom: 5vw;
  vertical-align: top;
}
.quadrati > a:last-child {
  margin-right: 0;
}
.q {
  width: 27vw;
  height: 27vw;
  border: solid .35vw #000;
}
.q h3 {
  margin-top: 12%;
  margin-left: 10%;
  line-height: 1.1;
}
.q svg {
  position: absolute; right: 12%; bottom: 12%;
  width: 25%;
}
.q:hover h3 {margin-left: 10%}

/*----------------------------------------SWIPER----------------------------------------*/

.swiper-container p {
  margin-top: 2vw;
  margin-bottom: 0;
}
.swiper-button-prev {
  margin-left: .5vw;
  background-image: url("../img/sx-rossa.png")!important;
}
.swiper-button-next {
  margin-right: .5vw;
  background-image: url("../img/dx-rossa.png")!important;
}
.swiper-button-prev, .swiper-button-next {
  transform-origin: center;
  transform: scale(1.1, .7) translateY(-5vw);
}
.swiper-button-prev.green, .swiper-button-next.green {
  transform-origin: center;
  transform: scale(1.1, .7);
}

/*----------------------------------------NAVBAR----------------------------------------*/

.submenu {
  margin-top: 0;
  margin-left: 4vw;
  font-size: 15px;
  padding-left: 12vw;
}
.submenu::before {
  content: "";
  height: 80%;
  width: .4vw;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 7vw;
}
nav {
  z-index: 3;
  width: 100%;
  font-size: 1em;
  top: 0; left: 0;
  background-color: #fef0cf;
  font-size: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  padding: 0 4vw;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.navbar img {
  float: left;
  margin: 6vw 0vw;
  height: 3.5vw;
  transform-origin: left;
  transform: scale(2.4);
  cursor: pointer;
}
.responsive {
  top: 15vw;
  transition: left .5s;
  height: 100vh;
}
.off {
  left: 100%;
}
.hamburger {
  display: block;
  float: right;
  margin: 6vw 0;
}
.stripe {
  width: 7vw;
  height: .5vw;
  background-color: #000;
  transition: transform .3s;
}
.stripe:first-child {
  margin-bottom: 2vw;
}
.stripe:first-child.rotate {
  transform: translateY(1.25vw) rotateZ(45deg);
}
.stripe:last-child.rotate {
  transform: translateY(-1.25vw) rotateZ(-45deg);
}
.on {
  left: 0;
}
.responsive {
  display: block;
}
.responsive a {
  display: block;
  border-top: solid .4vw #000;
  padding: 5vw 4vw;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.submenu a {
  border: none;
  padding: 0 0 4vw 0;
}
#data {
  position: absolute;
  bottom: 20vw;
  left: initial;
  right: 8vw;
}
